main{
    display: flex;
    flex-direction: column;
}
body{
    margin: 20px 0;
    padding: 20px;
}
h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 26px;
}
p{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0 50px;
}
/*Input*/
#input-container{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input-el{
    width: 400px;
    height: 25px;
    padding: 5px;
    box-sizing: content-box;
    margin: 5px 0;
    border: solid 2px #063970;

}
#btn-el{
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    box-sizing: content-box;
    width: 400px;
    height: 25px;
    padding: 5px;
    margin: 5px 0;
    border: none;
    background-color: #063970;
    border: solid 2px #063970;

}

/*Display links*/
#display-links{
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
a{
    text-decoration: none;
}
a:link{
    color: #3880ce;
}
ul{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    max-width: 500px;
    min-width: 400px;
    text-align: center;
    padding: 0;
    margin: 5px auto;

}
li{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    box-sizing: content-box;
    list-style: none;
    background-color: rgb(243, 243, 243);
    width: 400px;
    height: 25px;
    padding: 7px;
}